@model Taxi.Web.Data.Entities.TaxiEntity

<div class="form-group">
    <label asp-for="Plaque" class="control-label"></label>
    <input asp-for="Plaque" class="form-control" />
    <span asp-validation-for="Plaque" class="text-danger"></span>
</div>
