@{
    ViewData["Title"] = "Confirm user group";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming the user. Now they are part of a group and can see each other's trips in real time.
    </p>
</div>
